.rimas {
    margin: 1vw;
    background-color: #eee;
    margin: auto;
    padding: 10px;
    width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.rima {
    border: 1px solid #00ACF1;
    text-align: center;
}